html{
	background:blue;
	height:100%; 

}
body{background-color: beige;
	width: 75%;
	min-height: 100%; 
	margin: 0 auto; 	
	padding: 0 20px; }
nav{
	background-color: green;
	padding: 20px;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
nav a{
	color:yellow;
	text-decoration: none;
	padding: 5px;
}
nav a:hover{
	background-color: yellow;
	color: green;
	border-radius: 5px;
}
a{}
h1{}
p{}
img{}
footer{}